/*

Author: Code 4 Kenya
Author URL: http://code4kenya.org

This is a stylesheet to style Find My School and overide Bootstrap.
*/

.btn .btn-info{width:5px; height:20px; background-color: blue; margin-top: -20px;}

.hero-unit{background-color: #5BDCF0;}

hr{width:100%; margin:5px 0;border:0;border-top:1px solid #eeeeee;border-bottom:1px solid #ffffff;}



/* CSS reset */
html {
/*	background:url('../img/bg.png') no-repeat center center; */
	
	/* Ensure the html element always takes up the full height of the browser window */
	min-height:100%;
	
	/* The Magic */
	background-size:cover;
	/* General Demo Style */
}

body
{
	background: #e0e3ec url(../img/bg.png) repeat top left; 
	font-size: 15px;
	color: #593741;
	overflow-y: scroll; 
	margin-top: 5%;

    padding-bottom:45px;   /* Height of the footer */
    min-height:100%;
    text-align: center;
    -webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
}




a{
	color: #333;
	text-decoration: none;
}

.container
{

	text-align: center;

}

.row-fluid .span2
{
	background-color: #F0F0F0 ;
	
}

.clr
{
	clear: both;
}



#testSlide3 
{
	display: inline-block;
	border: 1px solid #b19099;
	padding: 4px 10px 3px;
	margin: 0px 3px;
	color: #fff;
	background: #111;
}


.btn .dropdown-toggle 
{
	width:100%;
}


header.center 
{
	display: block;
	text-align: -webkit-center;
	position: fixed;
	background: #e0e3ec url(../img/8.png) repeat top left; 
	width:100%;
	height:50%; 
	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
	top:0;
	font-weight: 60px;
	font-size: 13px;
	color: #cfcfcf;
	*z-index: 9999;

	-webkit-box-shadow: 0 0 5px 5px#888;
	   -moz-box-shadow: 0 0 5px 5px #888;
			box-shadow: 0 0 5px 5px #888;
}

header.center>h2 
{
	position: fixed; /*Why the f*** didn't I think of this?! :)))))))) */
	left:0;
	right:0;
	margin-top: 5%;
	margin-bottom: auto;
	text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
}


.btn-large { 

	color: #000;
	background-color: #fff;
	outline-color: #000;
	margin-top: 55px;
	/*margin-bottom: -10px;*/
	font-size: 24px;
	padding: 9px 25px;
	z-index: 9999999;

	-webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
       -moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
			box-shadow:0 5px 7px 5px rgba(0, 0, 0, 0.2);
	
	-webkit-border-radius: 7px;
       -moz-border-radius: 7px;
            border-radius: 7px;
}

.extra {
	position:fixed;
	height:45%;
	margin-left: auto;
	margin-right: auto;

	left:0;
	right:0;
	bottom:0;
}
.prisec {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	border-radius: 10px;
	left:0;
	right:0;
	

}	

.schoollist1 {

	display: block;
	float: left;
	width:300px;
	margin-left: 250px;
	margin-right: auto;
	padding-right: 20px;
}

.schoollist2 {

	display: block;
	float: left;
	width:300px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
}

.yearbase
{
	background-color: #c0c0c0;
}


input:focus:required:invalid,textarea:focus:required:invalid,select:focus:required:invalid
{
color:#b94a48;
border: 2px solid #ff0000;
}
input:focus:required:invalid:focus,textarea:focus:required:invalid:focus,select:focus:required:invalid:focus
{
border-color:#fff;-webkit-box-shadow:0 0 6px #f8b9b7;-moz-box-shadow:0 0 6px #f8b9b7;box-shadow:0 0 6px #f8b9b7;
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button 
{
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

footer {
   
   position: fixed;
   left: 0;
   margin: 0px;
   bottom:0;
   width:100%;
   height:45px;   /* Height of the footer */
   background: #111111;
   box-shadow: 0 -1px 2px rgba(0,0,0,0.4);
   z-index: 100000;
}

footer a{
	color: #fff;
	font-size: 12px;
	left: 80%;
	margin: 16px 0 0 110px;
	position: absolute;
	text-decoration: none;
	top: 0;
}


footer a:visited{
	color: #00FF00;
	font-size: 12px;
	left: 80%;
	margin: 16px 0 0 110px;
	position: absolute;
	text-decoration: none;
	top: 0;
}



#background-image
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 15px;
	width: 400px;
	text-align: left;
	border-collapse: collapse;
/*	background: url('../img/blurry.jpg') 330px 59px no-repeat;   */
}
#background-image th
{
	padding: 5px;
	font-weight: normal;
	font-size: 14px;
	color: #339;
}
#background-image td
{
	padding: 2px 5px;
	color: #669;
	border-top: 1px solid #fff;
}
#background-image tfoot td
{
	font-size: 11px;
}
#background-image tbody td
{
	background: url('../img/back.png');
}
* html #background-image tbody td
{
	/* 
	   ----------------------------
		PUT THIS ON IE6 ONLY STYLE 
		AS THE RULE INVALIDATES
		YOUR STYLESHEET
	   ----------------------------
	*/
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/back.png',sizingMethod='crop');
	background: none;
}	
#background-image tbody tr:hover td
{
	color: #339;
	background: none;
}




#comment_form {
	margin-top: 100px;
	font-family: 'Lucida Grande', 'Helvetica Neue', sans-serif;
	font-size: 13px;
}

#comment_form input, #comment_form textarea {
	border: 4px solid rgba(0,0,0,0.1);
	padding: 8px 10px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	outline: 0;
}

#comment_form textarea {
	width: 350px;
}

#comment_form input[type="submit"] {
	cursor: pointer;
	background: -webkit-linear-gradient(top, #efefef, #ddd);
	background: -moz-linear-gradient(top, #efefef, #ddd);
	background: -ms-linear-gradient(top, #efefef, #ddd);
	background: -o-linear-gradient(top, #efefef, #ddd);
	background: linear-gradient(top, #efefef, #ddd);
	color: #333;
	text-shadow: 0px 1px 1px rgba(255,255,255,1);
	border: 1px solid #ccc;
}

#comment_form input[type="submit"]:hover {
	background: -webkit-linear-gradient(top, #eee, #ccc);
	background: -moz-linear-gradient(top, #eee, #ccc);
	background: -ms-linear-gradient(top, #eee, #ccc);
	background: -o-linear-gradient(top, #eee, #ccc);
	background: linear-gradient(top, #eee, #ccc);
	border: 1px solid #bbb;
}

#comment_form input[type="submit"]:active {
	background: -webkit-linear-gradient(top, #ddd, #aaa);
	background: -moz-linear-gradient(top, #ddd, #aaa);
	background: -ms-linear-gradient(top, #ddd, #aaa);
	background: -o-linear-gradient(top, #ddd, #aaa);
	background: linear-gradient(top, #ddd, #aaa);	
	border: 1px solid #999;
}

#comment_form div {
	margin-bottom: 8px;
}