/*

Author: Code 4 Kenya
Author URL: http://code4kenya.org

This is a stylesheet to style Find My School and overide Bootstrap.
*/

.btn .btn-info{width:5px; height:20px; background-color: blue; margin-top: -20px;}

.hero-unit{background-color: #5BDCF0;}


/* ------------------------------------------------------------------------
New Table Style for predicted Secondary Schools results. 
---------------------------------------------------------------------------*/


#newspaper-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #69c;
}
#newspaper-a th
{
	padding: 12px 17px 12px 17px;
	font-weight: normal;
	font-size: 14px;
	color: #039;
	border-bottom: 1px dashed #69c;
	text-align: center;
}
#newspaper-a td
{
	padding: 7px 17px 7px 17px;
	color: #669;
}
#newspaper-a tbody tr:hover td
{
	color: #339;
	background: #d0dafd;
}

#200000