/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */
















/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}


/* ==|== print styles =======================================================
   Landing Page Slider styles
   ========================================================================== */
.da-slider{
  width: 100%;
  min-width: 520px;
  height: 400px;
  position: relative;
  margin: 30px auto;
  overflow: hidden;
  background: transparent url(../img/waves.gif) repeat 0% 0%;
  border-top: 8px solid #efc34a;
  border-bottom: 8px solid #efc34a;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.2), 0px -2px 1px #fff;
  -webkit-transition: background-position 1.4s ease-in-out 0.3s;
  -moz-transition: background-position 1.4s ease-in-out 0.3s;
  -o-transition: background-position 1.4s ease-in-out 0.3s;
  -ms-transition: background-position 1.4s ease-in-out 0.3s;
  transition: background-position 1.4s ease-in-out 0.3s;

}
.da-slide{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
  z-index: 1000;
}
.da-slide-current{
  z-index: 1000;
}
.da-slider-fb .da-slide{
  left: 100%;
}
.da-slider-fb  .da-slide.da-slide-current{
  left: 0px;
}
.da-slide h2,
.da-slide p,
.da-slide .da-link,
.da-slide .da-img{
  position: absolute;
  opacity: 0;
  left: 110%;
}
.da-slider-fb .da-slide h2,
.da-slider-fb .da-slide p,
.da-slider-fb .da-slide .da-link{
  left: 10%;
  opacity: 1;
}
.da-slider-fb .da-slide .da-img{
  left: 60%;
  opacity: 1;
}
.da-slide h2{
  color: #fff;
  font-size: 66px;
  width: 50%;
  top: 60px;
  white-space: nowrap;
  z-index: 10;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  font-family: 'Economica', Arial, sans-serif;
  font-weight: 700;
}
.da-slide p{
  width: 45%;
  top: 155px;
  color: #916c05;
  font-size: 18px;
  line-height: 26px;
  height: 80px;
  overflow: hidden;
  font-style: italic;
  font-family: 'Economica', Arial, sans-serif;
  font-weight: 400;
  font-style: italic;
}
.da-slide .da-img{
  text-align: center;
  width: 30%;
  top: 70px;
  height: 256px;
  line-height: 320px;
  left: 110%; /*60%*/
}
.da-slide .da-link{
  top: 270px; /*depends on p height*/
  border-radius: 30px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  border: 8px solid rgba(255,255,255,0.8);
  padding: 2px 20px 0px;
  font-size: 18px;
  line-height: 30px;
  width: 80px;
  text-align: center;
  background: rgba(255,255,255,0.2);
}
.da-slide .da-link:hover{
  background: rgba(255,255,255,0.3);
}
.da-dots{
  width: 100%;
  position: absolute;
  text-align: center;
  left: 0px;
  bottom: 20px;
  z-index: 2000;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.da-dots span{
  display: inline-block;
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #e4b42d;
  margin: 3px;
  cursor: pointer;
  box-shadow: 
    1px 1px 1px rgba(0,0,0,0.1) inset, 
    1px 1px 1px rgba(255,255,255,0.1);
}
.da-dots span.da-dots-current:after{
  content: '';
  width: 8px;
  height: 8px;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
  background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}
.da-arrows{
  -moz-user-select: none;
  -webkit-user-select: none;
}
.da-arrows span{
  position: absolute;
  top: 50%;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #e4b42d;
  cursor: pointer;
  z-index: 2000;
  opacity: 0;
  box-shadow: 
    1px 1px 1px rgba(0,0,0,0.1) inset, 
    1px 1px 1px rgba(255,255,255,0.1);
  -webkit-transition: opacity 0.4s ease-in-out 0.2s;
  -moz-transition: opacity 0.4s ease-in-out 0.2s;
  -o-transition: opacity 0.4s ease-in-out 0.2s;
  -ms-transition: opacity 0.4s ease-in-out 0.2s;
  transition: opacity 0.4s ease-in-out 0.2s;
}
.da-slider:hover .da-arrows span{
  opacity: 1;
}
.da-arrows span:after{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 5px;
  left: 5px;
  background: transparent url(../img/arrows.png) no-repeat top left;
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}
.da-arrows span:hover:after{
  box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}
.da-arrows span:active:after{
  box-shadow: 1px 1px 1px rgba(255,255,255,0.1);
}
.da-arrows span.da-arrows-next:after{
  background-position: top right;
}
.da-arrows span.da-arrows-prev{
  left: 15px;
}
.da-arrows span.da-arrows-next{
  right: 15px;
}

.da-slide-current h2,
.da-slide-current p,
.da-slide-current .da-link{
  left: 10%;
  opacity: 1;
}
.da-slide-current .da-img{
  left: 60%;
  opacity: 1;
}
/* Animation classes and animations */

/* Slide in from the right*/
.da-slide-fromright h2{
  -webkit-animation: fromRightAnim1 0.6s ease-in 0.8s both;
  -moz-animation: fromRightAnim1 0.6s ease-in 0.8s both;
  -o-animation: fromRightAnim1 0.6s ease-in 0.8s both;
  -ms-animation: fromRightAnim1 0.6s ease-in 0.8s both;
  animation: fromRightAnim1 0.6s ease-in 0.8s both;
}
.da-slide-fromright p{
  -webkit-animation: fromRightAnim2 0.6s ease-in 0.8s both;
  -moz-animation: fromRightAnim2 0.6s ease-in 0.8s both;
  -o-animation: fromRightAnim2 0.6s ease-in 0.8s both;
  -ms-animation: fromRightAnim2 0.6s ease-in 0.8s both;
  animation: fromRightAnim2 0.6s ease-in 0.8s both;
}
.da-slide-fromright .da-link{
  -webkit-animation: fromRightAnim3 0.4s ease-in 1.2s both;
  -moz-animation: fromRightAnim3 0.4s ease-in 1.2s both;
  -o-animation: fromRightAnim3 0.4s ease-in 1.2s both;
  -ms-animation: fromRightAnim3 0.4s ease-in 1.2s both;
  animation: fromRightAnim3 0.4s ease-in 1.2s both;
}
.da-slide-fromright .da-img{
  -webkit-animation: fromRightAnim4 0.6s ease-in 0.8s both;
  -moz-animation: fromRightAnim4 0.6s ease-in 0.8s both;
  -o-animation: fromRightAnim4 0.6s ease-in 0.8s both;
  -ms-animation: fromRightAnim4 0.6s ease-in 0.8s both;
  animation: fromRightAnim4 0.6s ease-in 0.8s both;
}
@-webkit-keyframes fromRightAnim1{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim2{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim3{
  0%{ left: 110%; opacity: 0; }
  1%{ left: 10%; opacity: 0; }
  100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim4{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 60%; opacity: 1; }
}

@-moz-keyframes fromRightAnim1{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromRightAnim2{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromRightAnim3{
  0%{ left: 110%; opacity: 0; }
  1%{ left: 10%; opacity: 0; }
  100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromRightAnim4{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 60%; opacity: 1; }
}

@-o-keyframes fromRightAnim1{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromRightAnim2{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromRightAnim3{
  0%{ left: 110%; opacity: 0; }
  1%{ left: 10%; opacity: 0; }
  100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromRightAnim4{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 60%; opacity: 1; }
}

@-ms-keyframes fromRightAnim1{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromRightAnim2{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromRightAnim3{
  0%{ left: 110%; opacity: 0; }
  1%{ left: 10%; opacity: 0; }
  100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromRightAnim4{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 60%; opacity: 1; }
}

@keyframes fromRightAnim1{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 10%; opacity: 1; }
}
@keyframes fromRightAnim2{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 10%; opacity: 1; }
}
@keyframes fromRightAnim3{
  0%{ left: 110%; opacity: 0; }
  1%{ left: 10%; opacity: 0; }
  100%{ left: 10%; opacity: 1; }
}
@keyframes fromRightAnim4{
  0%{ left: 110%; opacity: 0; }
  100%{ left: 60%; opacity: 1; }
}
/* Slide in from the left*/
.da-slide-fromleft h2{
  -webkit-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
  -moz-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
  -o-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
  -ms-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
  animation: fromLeftAnim1 0.6s ease-in 0.6s both;
}
.da-slide-fromleft p{
  -webkit-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
  -moz-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
  -o-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
  -ms-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
  animation: fromLeftAnim2 0.6s ease-in 0.6s both;
}
.da-slide-fromleft .da-link{
  -webkit-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
  -moz-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
  -o-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
  -ms-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
  animation: fromLeftAnim3 0.4s ease-in 1.2s both;
}
.da-slide-fromleft .da-img{
  -webkit-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
  -moz-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
  -o-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
  -ms-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
  animation: fromLeftAnim4 0.6s ease-in 0.6s both;
}
@-webkit-keyframes fromLeftAnim1{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim2{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim3{
  0%{ left: -110%; opacity: 0; }
  1%{ left: 10%; opacity: 0; }
  100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim4{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 60%; opacity: 1; }
}

@-moz-keyframes fromLeftAnim1{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim2{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim3{
  0%{ left: -110%; opacity: 0; }
  1%{ left: 10%; opacity: 0; }
  100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim4{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 60%; opacity: 1; }
}

@-o-keyframes fromLeftAnim1{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromLeftAnim2{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromLeftAnim3{
  0%{ left: -110%; opacity: 0; }
  1%{ left: 10%; opacity: 0; }
  100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromLeftAnim4{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 60%; opacity: 1; }
}

@-ms-keyframes fromLeftAnim1{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim2{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim3{
  0%{ left: -110%; opacity: 0; }
  1%{ left: 10%; opacity: 0; }
  100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim4{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 60%; opacity: 1; }
}

@keyframes fromLeftAnim1{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 10%; opacity: 1; }
}
@keyframes fromLeftAnim2{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 10%; opacity: 1; }
}
@keyframes fromLeftAnim3{
  0%{ left: -110%; opacity: 0; }
  1%{ left: 10%; opacity: 0; }
  100%{ left: 10%; opacity: 1; }
}
@keyframes fromLeftAnim4{
  0%{ left: -110%; opacity: 0; }
  100%{ left: 60%; opacity: 1; }
}
/* Slide out to the right */
.da-slide-toright h2{
  -webkit-animation: toRightAnim1 0.6s ease-in 0.6s both;
  -moz-animation: toRightAnim1 0.6s ease-in 0.6s both;
  -o-animation: toRightAnim1 0.6s ease-in 0.6s both;
  -ms-animation: toRightAnim1 0.6s ease-in 0.6s both;
  animation: toRightAnim1 0.6s ease-in 0.6s both;
}
.da-slide-toright p{
  -webkit-animation: toRightAnim2 0.6s ease-in 0.3s both;
  -moz-animation: toRightAnim2 0.6s ease-in 0.3s both;
  -o-animation: toRightAnim2 0.6s ease-in 0.3s both;
  -ms-animation: toRightAnim2 0.6s ease-in 0.3s both;
  animation: toRightAnim2 0.6s ease-in 0.3s both;
}
.da-slide-toright .da-link{
  -webkit-animation: toRightAnim3 0.4s ease-in both;
  -moz-animation: toRightAnim3 0.4s ease-in both;
  -o-animation: toRightAnim3 0.4s ease-in both;
  -ms-animation: toRightAnim3 0.4s ease-in both;
  animation: toRightAnim3 0.4s ease-in both;
}
.da-slide-toright .da-img{
  -webkit-animation: toRightAnim4 0.6s ease-in both;
  -moz-animation: toRightAnim4 0.6s ease-in both;
  -o-animation: toRightAnim4 0.6s ease-in both;
  -ms-animation: toRightAnim4 0.6s ease-in both;
  animation: toRightAnim4 0.6s ease-in both;
}
@-webkit-keyframes toRightAnim1{
  0%{ left: 10%;  opacity: 1; }
  100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim2{
  0%{ left: 10%;  opacity: 1; }
  100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim3{
  0%{ left: 10%;  opacity: 1; }
  99%{ left: 10%; opacity: 0; }
  100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim4{
  0%{ left: 60%;  opacity: 1; }
  30%{ left: 55%;  opacity: 1; }
  100%{ left: 100%; opacity: 0; }
}

@-moz-keyframes toRightAnim1{
  0%{ left: 10%;  opacity: 1; }
  100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim2{
  0%{ left: 10%;  opacity: 1; }
  100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim3{
  0%{ left: 10%;  opacity: 1; }
  99%{ left: 10%; opacity: 0; }
  100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim4{
  0%{ left: 60%;  opacity: 1; }
  30%{ left: 55%;  opacity: 1; }
  100%{ left: 100%; opacity: 0; }
}

@-o-keyframes toRightAnim1{
  0%{ left: 10%;  opacity: 1; }
  100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim2{
  0%{ left: 10%;  opacity: 1; }
  100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim3{
  0%{ left: 10%;  opacity: 1; }
  99%{ left: 10%; opacity: 0; }
  100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim4{
  0%{ left: 60%;  opacity: 1; }
  30%{ left: 55%;  opacity: 1; }
  100%{ left: 100%; opacity: 0; }
}

@-ms-keyframes toRightAnim1{
  0%{ left: 10%;  opacity: 1; }
  100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim2{
  0%{ left: 10%;  opacity: 1; }
  100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim3{
  0%{ left: 10%;  opacity: 1; }
  99%{ left: 10%; opacity: 0; }
  100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim4{
  0%{ left: 60%;  opacity: 1; }
  30%{ left: 55%;  opacity: 1; }
  100%{ left: 100%; opacity: 0; }
}

@keyframes toRightAnim1{
  0%{ left: 10%;  opacity: 1; }
  100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim2{
  0%{ left: 10%;  opacity: 1; }
  100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim3{
  0%{ left: 10%;  opacity: 1; }
  99%{ left: 10%; opacity: 0; }
  100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim4{
  0%{ left: 60%;  opacity: 1; }
  30%{ left: 55%;  opacity: 1; }
  100%{ left: 100%; opacity: 0; }
}
/* Slide out to the left*/
.da-slide-toleft h2{
  -webkit-animation: toLeftAnim1 0.6s ease-in both;
  -moz-animation: toLeftAnim1 0.6s ease-in both;
  -o-animation: toLeftAnim1 0.6s ease-in both;
  -ms-animation: toLeftAnim1 0.6s ease-in both;
  animation: toLeftAnim1 0.6s ease-in both;
}
.da-slide-toleft p{
  -webkit-animation: toLeftAnim2 0.6s ease-in 0.3s both;
  -moz-animation: toLeftAnim2 0.6s ease-in 0.3s both;
  -o-animation: toLeftAnim2 0.6s ease-in 0.3s both;
  -ms-animation: toLeftAnim2 0.6s ease-in 0.3s both;
  animation: toLeftAnim2 0.6s ease-in 0.3s both;
}
.da-slide-toleft .da-link{
  -webkit-animation: toLeftAnim3 0.4s ease-in both;
  -moz-animation: toLeftAnim3 0.4s ease-in both;
  -o-animation: toLeftAnim3 0.4s ease-in both;
  -ms-animation: toLeftAnim3 0.4s ease-in both;
  animation: toLeftAnim3 0.4s ease-in both;
}
.da-slide-toleft .da-img{
  -webkit-animation: toLeftAnim4 0.6s ease-in 0.6s both;
  -moz-animation: toLeftAnim4 0.6s ease-in 0.6s both;
  -o-animation: toLeftAnim4 0.6s ease-in 0.6s both;
  -ms-animation: toLeftAnim4 0.6s ease-in 0.6s both;
  animation: toLeftAnim4 0.6s ease-in 0.6s both;
}
@-webkit-keyframes toLeftAnim1{
  0%{ left: 10%;  opacity: 1; }
  30%{ left: 15%;  opacity: 1; }
  100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim2{
  0%{ left: 10%;  opacity: 1; }
  30%{ left: 15%;  opacity: 1; }
  100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim3{
  0%{ left: 10%;  opacity: 1; }
  99%{ left: 10%; opacity: 0; }
  100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim4{
  0%{ left: 60%;  opacity: 1; }
  40%{ left: 70%;  opacity: 1; }
  90%{ left: 0%;  opacity: 0; }
  100%{ left: -50%; opacity: 0; }
}

@-moz-keyframes toLeftAnim1{
  0%{ left: 10%;  opacity: 1; }
  30%{ left: 15%;  opacity: 1; }
  100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim2{
  0%{ left: 10%;  opacity: 1; }
  30%{ left: 15%;  opacity: 1; }
  100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim3{
  0%{ left: 10%;  opacity: 1; }
  99%{ left: 10%; opacity: 0; }
  100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim4{
  0%{ left: 60%;  opacity: 1; }
  40%{ left: 70%;  opacity: 1; }
  90%{ left: 0%;  opacity: 0; }
  100%{ left: -50%; opacity: 0; }
}

@-o-keyframes toLeftAnim1{
  0%{ left: 10%;  opacity: 1; }
  30%{ left: 15%;  opacity: 1; }
  100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim2{
  0%{ left: 10%;  opacity: 1; }
  30%{ left: 15%;  opacity: 1; }
  100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim3{
  0%{ left: 10%;  opacity: 1; }
  99%{ left: 10%; opacity: 0; }
  100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim4{
  0%{ left: 60%;  opacity: 1; }
  40%{ left: 70%;  opacity: 1; }
  90%{ left: 0%;  opacity: 0; }
  100%{ left: -50%; opacity: 0; }
}

@-ms-keyframes toLeftAnim1{
  0%{ left: 10%;  opacity: 1; }
  30%{ left: 15%;  opacity: 1; }
  100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim2{
  0%{ left: 10%;  opacity: 1; }
  30%{ left: 15%;  opacity: 1; }
  100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim3{
  0%{ left: 10%;  opacity: 1; }
  99%{ left: 10%; opacity: 0; }
  100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim4{
  0%{ left: 60%;  opacity: 1; }
  40%{ left: 70%;  opacity: 1; }
  90%{ left: 0%;  opacity: 0; }
  100%{ left: -50%; opacity: 0; }
}

@keyframes toLeftAnim1{
  0%{ left: 10%;  opacity: 1; }
  30%{ left: 15%;  opacity: 1; }
  100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim2{
  0%{ left: 10%;  opacity: 1; }
  30%{ left: 15%;  opacity: 1; }
  100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim3{
  0%{ left: 10%;  opacity: 1; }
  99%{ left: 10%; opacity: 0; }
  100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim4{
  0%{ left: 60%;  opacity: 1; }
  40%{ left: 70%;  opacity: 1; }
  90%{ left: 0%;  opacity: 0; }
  100%{ left: -50%; opacity: 0; }
}
