<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	  <!-- new element added-->    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{{ page.title }}</title>
	  <!-- new element added-->    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<meta name="description" content="Find My School">
	  <!-- new element added-->    <meta name="keywords" content="slider, animations, parallax, delayed, easing, jquery, css3, kendo UI" />
	<meta name="author" content="Code 4 Kenya | http://code4kenya.org">

	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/mystyle.css">
	
	  <!-- new element added-->    <link rel="shortcut icon" href="../favicon.ico"> 
      <!-- new element added-->    <link rel="stylesheet" type="text/css" href="css/demo.css" />
      <!-- new element added-->    <script type="text/javascript" src="js/modernizr.custom.28468.js"></script>
	  <!-- new element added-->    <link href='http://fonts.googleapis.com/css?family=Economica:700,400italic' rel='stylesheet' type='text/css'>
	  <!-- new element added-->    	<noscript>
			<link rel="stylesheet" type="text/css" href="css/nojs.css" />
		</noscript>
	

	<link rel="stylesheet" href="http://coolcarousels.frebsite.nl/css/layout.css">

	<script src="js/libs/modernizr-2.5.3.min.js"></script>
	

		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-5722599-10']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
			
			$(function() {
				$("#c-cur-down").click(function() {
					_gaq.push(["_trackPageview", "/current/download.html"]);
				});
				$("#c-cur-open").click(function() {
					_gaq.push(["_trackPageview", "/current/open.html"]);
				});
			});
		</script>
</head>
<body class="{{page.section}}">
	<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
	

	<!-- codrops nav bar new version-->
<div class="container">
      <!-- Codrops top bar -->
             <div class="codrops-top">
                <a href="http://tympanus.net/Tutorials/CSS3Accordion/">
                    <strong>Find My School &laquo;</strong> 
                </a>
                <span class="right">
          <a href="/results.html">Find A School</a>
          <a href="p3.html">Compare Schools</a>
          <a href="p4.html">Compare Counties</a>
                </span>
                <div class="clr"></div>
            </div><!--/ Codrops top bar -->


            <!-- Signature Question -->

<header>
        <h1>Which <span>Secondary schools</span> would Accept me if i scored&nbsp<input class="input-small" type="text" placeholder="300">&nbsp </input>Marks? </h1>
        <h2>enter your anticipated average examination marks:</h2>
             <p class="codrops-demos">
          <button class="btn btn-info" href="results.html">Find A School</button>
          <button class="btn btn-info" href="#">Be More Specific</button>
          <button class="btn btn-info" href="#">Analyze Marks</button>
        </p>
    </header>	
		
		{{ content }}
		
	
		<footer>
		<a href="http://www.code4kenya.org">&copy; code4kenya 2012</a>
			
		</footer>
	
	</div> <!-- /container -->
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/libs/jquery-1.8.0.min.js"><\/script>')</script>
	
	<script src="/js/bootstrap.min.js"></script>
	
<!-- new el added--><script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <!-- new element added-->    		<script type="text/javascript" src="js/jquery.cslider.js"></script>
	  <!-- new element added-->    	<script type="text/javascript">
			$(function() {
			
				$('#da-slider').cslider();
				
			});
		</script>	


	<script>
	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>

	<script>
      $(document).ready(function(){
        $('.carousel').carousel({
          interval: 2500
        });
      });
    </script>

</body>
</html>
